<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FileWave</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/header.css">
    <style>
        h2 {
            padding: 1rem 14px;
            font-weight: 400;
        }
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            position: relative;
        }

        .buttons {
            max-width: 1200px;
            padding: 0 1rem;
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            margin: 0 auto;
            margin-bottom: 1rem;
        }

        .buttons button {
            font-family: 'Noto Sans', 'Roboto', sans-serif;
            padding: 8px 18px;
            background-color: white;
            border: 1px solid #1bf47d;
            cursor: pointer;
        }

        table {
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px 16px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f9f9f9;
        }
        th:first-child, td:first-child {
            width: 50%;
        }
        th:nth-child(2), td:nth-child(2) {
            width: 10%;
        }
        th:nth-child(3), td:nth-child(3) {
            width: 20%;
        }
        th:nth-child(4), td:nth-child(4) {
            width: 10%;
        }
        tr:hover {
            background-color: #eee;
        }
        .icon {
            margin-right: 8px;
            fill: black;
        }

        td .fa-file {
            fill: red;
        }

        .owner-icon {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: #000;
            display: inline-block;
            vertical-align: middle;
        }
        .owner-text {
            vertical-align: middle;
        }
        .menu-icon {
            cursor: pointer;
        }
        
        .invisible {
            display: none;
        }

        .input {
            height: 35px;
            background: #e0dede;
            padding: 10px;
            border: none;
            outline: none;
            border-radius: 4px;
        }

        .folder-methods, .file-methods {
            display: flex;
            align-items: center;
            gap: 8px;
        }
        .folder-methods button,.file-methods button {
            cursor: pointer;
        }
        .folder-methods form,.file-methods form {
            display: flex;
        }
        .rename-form input {
            width: 100px;
        }
        tr a {
            color: black;
        }
        .folder-depth {
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            align-items: center;
        }
        .folder-depth h2 {
            margin: 0;
            padding-right: 0;
            padding-left: 14px;
        }
        .spacer {
            font-size: 30px;
            font-weight: 400;
            padding-left: 14px;
            color: #818080;
        }

        .custum-file-upload {
            display: flex;
            gap: 10px;
            cursor: pointer;
            justify-content: center;
            align-items: center;
            border: 2px dashed #7F7D9A;
            background-color: #e0dede;
            padding: 0.2rem 1rem;
            border-radius: 10px;
            box-shadow: 0px 48px 35px -48px #e8e8e8;
        }

        .custum-file-upload .icon {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .custum-file-upload .icon svg {
            height: 26px;
            fill: #7F7D9A;
        }

        .custum-file-upload .text {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .custum-file-upload .text span {
            font-weight: 400;
            font-size: 12px;
            color: #7F7D9A;
        }

        .custum-file-upload input {
            display: none;
        }
    </style>
</head>
<body>
    <%- include("header", { user: user }) %>
    <% if (!locals.folder) { %>
        <h2>Folder doesn't exist</h2>s
    <% } else { %>
        <div class="folder-depth">
            <% folders.forEach(folder => { %>
                <h2 class="folder-name">
                    <a href="/my-files/<%= folder.id %>">
                        <%=folder.name%>
                    </a>
                </h2>
                <span class="spacer">/</span>
            <% }) %>
        </div>
        <div class="buttons">
            <form class="" action="/my-files/new-folder/<%= folder.id %>" method="POST">
                <input class="input" type="text" name="folderName" id="folderName" placeholder="Enter folder name">
                <button class="new-folder" type="submit">
                    <i class="fas fa-folder icon"></i>
                    Add Folder
                </button>
            </form>

            <form action="/file/upload/<%= folder.id %>" method="POST" id="upload" enctype="multipart/form-data">
                <label for="file" class="custum-file-upload">
                    <div class="icon">
                        <svg viewBox="0 0 24 24" fill="" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M10 1C9.73478 1 9.48043 1.10536 9.29289 1.29289L3.29289 7.29289C3.10536 7.48043 3 7.73478 3 8V20C3 21.6569 4.34315 23 6 23H7C7.55228 23 8 22.5523 8 22C8 21.4477 7.55228 21 7 21H6C5.44772 21 5 20.5523 5 20V9H10C10.5523 9 11 8.55228 11 8V3H18C18.5523 3 19 3.44772 19 4V9C19 9.55228 19.4477 10 20 10C20.5523 10 21 9.55228 21 9V4C21 2.34315 19.6569 1 18 1H10ZM9 7H6.41421L9 4.41421V7ZM14 15.5C14 14.1193 15.1193 13 16.5 13C17.8807 13 19 14.1193 19 15.5V16V17H20C21.1046 17 22 17.8954 22 19C22 20.1046 21.1046 21 20 21H13C11.8954 21 11 20.1046 11 19C11 17.8954 11.8954 17 13 17H14V16V15.5ZM16.5 11C14.142 11 12.2076 12.8136 12.0156 15.122C10.2825 15.5606 9 17.1305 9 19C9 21.2091 10.7909 23 13 23H20C22.2091 23 24 21.2091 24 19C24 17.1305 22.7175 15.5606 20.9844 15.122C20.7924 12.8136 18.858 11 16.5 11Z" fill=""></path> </g></svg>
                    </div>
                    <div class="text">
                        <span>Click to upload file</span>
                    </div>
                    <input id="file" name="file" type="file" >
                </label>
            </form>

        </div>
        <table>
            <thead>
                <th>Name</th>
                <th>Owner</th>
                <th>Last modified</th>
                <th>File size</th>
                <th></th>
            </thead>
            <tbody>
                <% if (folder.folders) { %>
                    <% folder.folders.forEach(fd => { %>
                        <tr>
                            <td>
                                <a href="/my-files/<%= fd.id %>">
                                    <i class="fas fa-folder icon"></i>
                                    <%= fd.name %>
                                </a>
                            </td>
                            <td><%= user.username %></td>
                            <td><%= fd.updatedAt.toLocaleDateString("en-GB") + '  ' + fd.updatedAt.toLocaleTimeString("en-GB", {
                                    hour: "2-digit",
                                    minute: "2-digit"
                                }); %></td>
                            <td>—</td>
                            <td>
                                <div class="menu">
                                    <div class="folder-methods">
                                        <form action="/my-files/delete/<%= fd.id %>" method="POST">
                                            <button class="delete-btn" type="submit">
                                                <i class="fas fa-trash icon"></i>
                                            </button>
                                        </form>
                                        <form class="rename-form" action="/my-files/rename/<%= fd.id %>" method="POST">
                                            <input type="text" name="newName" id="newName" placeholder="Enter new name">
                                            <button type="submit">
                                                Rename
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    <% }) %>
                <% } %>
                <% if (folder.files) { %>
                    <% folder.files.forEach(file => { %>
                        <tr>
                            <td>
                                <a href="/file/<%= file.id %>"><i class="fas fa-file icon"></i></i><%= file.name %></a>
                            </td>
                            <td><%= user.username %></td>
                            <td><%= file.updatedAt.toLocaleDateString("en-GB") + '  ' + file.updatedAt.toLocaleTimeString("en-GB", {
                                    hour: "2-digit",
                                    minute: "2-digit"
                                }); %> </td>
                            <td><%= (file.size / 1024 / 1024).toFixed(0) %>MB</td>
                            <td>
                                <div class="menu">
                                    <div class="file-methods">
                                        <form action="/file/delete/<%= file.id %>" method="GET">
                                            <button class="delete-btn" type="submit">
                                                <i class="fas fa-trash icon"></i>
                                            </button>
                                        </form>
                                        <form class="rename-form" action="/file/rename/<%= file.id %>" method="POST">
                                            <input type="text" name="newName" id="newName" placeholder="Enter new name">
                                            <button type="submit">
                                                Rename
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    <% }) %>
                <% } %>
            </tbody>
        </table>
    <% } %>
    <script>
        const uploadInput = document.getElementById('file');

        uploadInput.addEventListener('change', (e) => {
            e.target.closest('form').submit()
        })
    </script>
</body>
</html>